.choose__switch {
  position: absolute;
  top: 16px;
  right: 16px;

  @media (min-width: 1440px) {
    right: -160px;
  }
}

.choose__currency {
  display: inline-block;
  height: 100%;
  padding: 0.6rem 1.2rem;
  background-color: white;
  color: black;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    transition: transform 0.15s ease-in-out;
  }
}

.choose__currency--selected {
  background-color: var(--dark-violet);
  color: white;
  font-weight: var(--bold);
}
