.title {
  line-height: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.3rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.subtitle {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--grey-text);
}
