.title {
  text-align: center;
  line-height: 2.5rem;
  font-weight: var(--bold);
  margin-bottom: 0.3rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.subtitle {
  color: var(--grey-text);
  text-align: center;
}

.title__container {
  margin-bottom: 2rem;
}

.title__email {
  color: var(--lime-green);
  text-align: center;
  line-height: 1rem;
}

.title__highlight {
  color: var(--trial-yellow);
}
