@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --main-background: #2d2345;
  --main-gradient: #372d5d;
  --grey-text: #dad9d9;
  --lime-green: #46bb46;
  --light-purple: #4f2d54;
  --dark-purple: #37284e;
  --light-violet: #beb4f2;
  --small-blue: #5ca4d4;
  --resend-blue: #7dd5fd;

  --semibold: 600;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(
    to bottom,
    var(--main-background),
    var(--main-gradient)
  );
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  appearance: none;
}
